<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

	<system.webServer>
		<modules>
			<add name="_02_ErrorToMail_Module" type="_02_ErrorToMail_Module.Kidatel"/>
		</modules>
	</system.webServer>

	


	<appSettings>
		<!-- *********************************************************************************** -->
		<!-- ****************************** Begin email settings ******************************* -->
		<!-- *********************************************************************************** -->
		<add key="SMTPServer" value="smtp.mail.ru" />
		<add key="SMTPRequiresAuthentication" value="false" />
		<add key="SMTPUseSsl" value="true" />
		<add key="SMTPPort" value="465" />
		<add key="SMTPUser" value="rommel3@ukr.net" />
		<add key="SMTPPassword" value="170882" />
		<add key="SMTPTimeoutInMilliseconds" value="30000" />
		<!-- Leave this blank for ASCII encoding. Allowed values are utf-8, utf-32, and unicode -->
		<add key="SmtpPreferredEncoding" value="" />
		<add key="IsKerioMailServer" value="true" />
		<!-- *********************************************************************************** -->
		<!-- ***************************** End Email settings ********************************** -->
		<!-- *********************************************************************************** -->
	</appSettings>
	
	
  <system.web>
    <compilation debug="true" targetFramework="4.7"/>
    <httpRuntime targetFramework="4.7"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>